<nav class="navbar">
  <h3>NODE MVC APP</h3>
  <a href="/product/">Home</a>
  <a href="/product/add">Add Product</a>
</nav>
<style>
.navbar {
  display: flex;
  align-items: center;
}
.navbar h3 {
  margin: 5px 20px;
}
.navbar a {
  margin: 0px 10px;
}
</style>